{% extends "user_base.html" %}
{% load static %}{% load i18n %}
{% block title %}Home{% endblock %}

{% block s_content %}
    <div id="home" class="container">
        {#        <h2>Home</h2>#}

        <div class="s-section">
            <a class="s-section-link" href="{% url 'speakeazy:projectList' %}">
                <h4 class="s-section-title">Upcoming Projects</h4>
            </a>

            <div class="s-list s-section-content">
                {% for project in project_list %}
                    <a class="s-list-item" href="{% url 'speakeazy:projects:projectView' project.slug %}">
                        <h4 class="s-list-item-heading">{{ project.name }}</h4>

                        <div class="item-info">
                            <div class="project-due-date">Due: {{ project.due_date | date:"D, d M Y" }}</div>
                            <div class="project-recording-count">{{ project.recording_set.all | length }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>


        <div class="s-section">
            <div class="s-section-link">
                <h4 class="s-section-title">Recent Recordings</h4>
            </div>

            <div class="s-list s-section-content">
                {% for recording in recording_list %}
                    <a class="s-list-item">
                        {#                       href="{% url 'speakeazy:projects:recordingView' project.slug recording.slug %}">#}
                        <h4 class="s-list-item-heading">{{ recording.project.name }} - {{ recording.slug }}</h4>

                        <div class="item-info">
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>


        <div class="s-section">
            <a class="s-section-link" href="{% url 'speakeazy:group-home' %}">
                <h4 class="s-section-title">Groups</h4>
            </a>

            <div class="s-list s-section-content">
                {% for recording in recording_list %}
                    {#                    <a class="s-list-item">#}
                    {#                       href="{% url 'speakeazy:projects:recordingView' project.slug recording.slug %}">#}
                    {#                        <h4 class="s-list-item-heading">{{ recording.project.name }} - {{ recording.slug }}</h4>#}
                    {##}
                    {#                        <div class="item-info">#}
                    {#                        </div>#}
                    {#                    </a>#}
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
