{% load staticfiles %}{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Speakeazy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/uikit.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/components/tooltip.min.css">

    <!-- Your stuff: Third-party css libraries go here -->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/build.css' %}" rel="stylesheet">
</head>

<body>

<noscript>
    <div id="noscript">Speakeazy works best with JavaScript enabled</div>
</noscript>

{% if messages %}
    <div id="error-notification" class="container">
        {% for message in messages %}
            <div class="uk-alert {% if message.tags %}uk-alert-{{ message.tags }}"{% endif %} data-uk-alert>
                <a href="" class="uk-alert-close uk-close"></a>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div id="landing-page">

    <nav class="uk-navbar uk-navbar-attached" id="nav-bar">
        <a class="uk-navbar-brand s-brand">Speak<span class="green">Eazy</span></a>

        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                {#                <li><a>About</a></li>#}
                {#                <li><a>Pricing</a></li>#}
                {#                <li><a>Support</a></li>#}
                <li><a href="{% url 'wagtail_serve' '' %}">Blog</a></li>
                {#                <li><a>Tech Blog</a></li>#}
                <li><a href="{% url 'userena_signin' %}">Login</a></li>
                <li><a href="{% url 'userena_signup' %}">Signup</a></li>
                {#            </ul>#}
                {#        </div>#}
                {##}
                {#        <div class="uk-navbar-content uk-navbar-center">#}
                {#            <ul class="uk-navbar-nav">#}
            </ul>
        </div>
    </nav>

    <div id="main" class="uk-block uk-block-large uk-cover">
        <video class="uk-cover-object" poster="https://static.speakeazy.co/resources/background.jpg" autoplay muted
               loop
               preload="auto">
            <source src="https://s3.amazonaws.com/speakeazy-static/resources/background.webm" type="video/webm">
            <source src="https://s3.amazonaws.com/speakeazy-static/resources/background.mp4" type="video/mp4">
        </video>

        <div class="container">
            <h1>Face your fear of public speaking from home.</h1>

            <h2>The best way to prepare for your next presentation</h2>

        </div>
    </div>

    <div id="points" class="uk-block uk-block-large">
        <div class="container">
            <h2 class="uk-text-center uk-margin-large-bottom">Become a Better Public Speaker</h2>

            <div class="s-point uk-grid">
                <img width="290" src="https://i.imgur.com/LncDP0h.png" class="uk-width-medium-1-4 uk-width-small-1-1">

                <div class="uk-panel uk-width-medium-3-4 uk-width-small-1-1">
                    <h2>Virtual Audiences</h2>

                    <p><strong>Practice makes perfect right?</strong> Well, even better practice, makes for even more
                        perfect. SpeakEazy is a better way to prepare for your speeches and presentations. We use
                        Virtual Audience videos that will you get used to an audience of people staring back at you.
                        Check it out for yourself? </p>
                </div>
            </div>

            <div class="s-point uk-grid">
                <div class="uk-panel uk-width-medium-3-4 uk-width-small-1-1">
                    <h2>Connect for Feedback</h2>

                    <p>Dust off your webcam! <strong>While you’re preparing in front of an audience video, your webcam
                        records you.</strong>Share your recording with friends, teachers, coaches & mentors for feedback
                        on your presentations. </p>
                </div>

                <img width="290" src="http://i.imgur.com/lCgNVUG.png" class="uk-width-medium-1-4 uk-width-small-1-1">
            </div>
        </div>
    </div>

    <div id="demo" class="uk-block uk-block-large">
        <div class="container">
            <h2>Institutions & Organizations</h2>

            <p>SpeakEazy is a perfect addition to your school's, organization’s, or non-profit’s resource arsenal. Give
                all of your students or employees access to SpeakEazy so they can prepare for their presentations the
                best way possible.</p>

            <div class="uk-align-center uk-margin-large uk-margin-medium-bottom">
                <a class="">Request a live Demo</a>
            </div>
        </div>
    </div>

    <div id="process" class="uk-block uk-block-large">
        <div class="container uk-grid">
            <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <div class="uk-panel uk-panel-space">
                    <h2 class="uk-text-center">Record</h2>

                    <p>Record your speech in front of our simulated audience.</p>
                </div>
            </div>
            <div id="wiki-link"
                 class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <div class="uk-panel uk-panel-space">
                    <h2 class="uk-text-center">Evaluate</h2>

                    <p>Evaluate the delivery of your speech. Pick out the parts you liked and the parts you didn't.</p>
                </div>
            </div>
            <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <div class="uk-panel uk-panel-space">
                    <h2 class="uk-text-center">Share</h2>

                    <p>Receive feedback on your recordings from friends, teachers, even professional public
                        speakers.</p>
                </div>
            </div>
            <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <div class="uk-panel uk-panel-space">
                    <h2 class="uk-text-center">Improve</h2>

                    <p>Receive feedback on your recordings from friends, teachers, even professional public
                        speakers.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="resources" class="uk-block uk-block-large">
        <div class="container uk-grid">
            <div id="blog-link" class="uk-panel uk-panel-space uk-width-small-1-1 uk-width-medium-1-3">
                <i class="uk-icon-bookmark-o uk-icon-large uk-width-1-1 uk-text-center"></i>

                <h2 class="uk-text-center"><a href="{% url 'wagtail_serve' '' %}">Speakeazy Blog</a></h2>

                <p>A blog full of wonderful articles from the Speakeazy team. Here you will find everything from
                    site
                    updates to public speaking research. </p>
            </div>

            <div id="wiki-link" class="uk-panel uk-panel-space uk-width-small-1-1 uk-width-medium-1-3">
                <i class="uk-icon-book uk-icon-large uk-width-1-1 uk-text-center"></i>

                <h2 class="uk-text-center"><span>Speakeazy Wiki</span></h2>

                <p>An expansive wealth of public speaking resources and material.</p>
            </div>

            <div id="support-link" class="uk-panel uk-panel-space uk-width-small-1-1 uk-width-medium-1-3">
                <i class="uk-icon-question-circle uk-icon-large uk-width-1-1 uk-text-center"></i>

                <h2 class="uk-text-center"><span>Speakeazy Support</span></h2>

                <p>Support for all of your questions, listeners for all of your feedback.</p>
            </div>
        </div>
    </div>

    <div id="landing-footer" class="uk-block uk-block-large uk-block-secondary">
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
{#    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.2/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/js/components/tooltip.min.js"></script>

<!-- Your stuff: Third-party javascript libraries go here -->

<!-- place project specific Javascript in this file -->
<script src="{% static 'js/project.js' %}"></script>
</body>
</html>