{% extends "base.html" %}
{% load static from staticfiles %}{% load i18n %}
{% block title %} - Group List{% endblock %}

{% block breadcrumbs %}
  <li class="uk-active"><span>groups</span></li>
{% endblock %}

{% block content %}
  <div id="group-list">
    <h2>All Groups</h2>

    <div class="uk-grid">
      {% for group in group_list %}
        <div class="uk-width-small-1-3 uk-width-medium-1-4 uk-width-large-1-6">
          <a href="{% url 'groups:group:groupView' group.slug %}"
             class="uk-panel uk-panel-box panel-card uk-panel-header">

            <h3 class="uk-panel-title">{{ group.name }}</h3>

            <div class="item-info">
              <div>{{ group.description }}</div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
