{% extends "base.html" %}
{% load static from staticfiles %}{% load i18n %}{% load crispy_forms_tags %}
{% block title %} - New Group{% endblock %}

{% block breadcrumbs %}
    {% include "groups/breadcrumb.html" %}
    <li class="uk-active"><span>new</span></li>
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post" action="{% url 'groups:newGroup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn">Create</button>
    </form>
{% endblock %}
