{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %} - {% trans "Register" %}{% endblock %}

{% block content %}
  <div class="uk-block">

    <form class="uk-form uk-form-stacked uk-width-1-2 uk-push-1-4" action="" method="post">
      {% csrf_token %}
      <fieldset>
        <legend>{% trans "Register" %}</legend>
        {{ form.non_field_errors }}
        {% for field in form %}
          <div class="uk-form-row">
            {{ field.errors }}
            {% comment %} Displaying checkboxes differently {% endcomment %}
            {% if field.name == 'tos' %}
              <label class="uk-form-label form-label" for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
            {% else %}
              {{ field.label_tag }}
              {{ field }}
            {% endif %}
          </div>
        {% endfor %}
      </fieldset>
      <button class="uk-button uk-button-success uk-margin-top" type="submit">{% trans "Register" %}</button>
      {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}

      <div class="uk-grid uk-block uk-margin-large-top ">
        <div class="uk-width-1-2">
          <p>Already have an account?</p>
          <a class="uk-button" href="{% url 'userena_signin' %}{% if next %}?next={{ next }}{% endif %}">{% trans "Sign In" %}</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
