# .dockerignore
.git/
docs/
node_modules/
tests/
venv/
speakeazy.db

.travis.yml
install_python_dependencies.sh
env.example
.gitattributes
install_os_dependencies.sh
.coveragerc
docker-compose.yml
Dockerfile-dev
Dockerfile
.dockerignore
app.json
.editorconfig
.gitignore
Gruntfile.js
dev.yml
.pylintrc
package.json
requirements.apt
requirements.txt
README.rst
runtime.txt
LICENSE
setup.cfg
