# this is used for production builds, remove the git directory
.git

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules

# Compass
.sass-cache

# virtual environments
venv
myvenv

# User-uploaded media
speakeazy/media

# Hitch directory
tests/.hitch

# MailHog binary
mailhog

# Recording files
recordings/*/*
!recordings/**/.gitkeep

# Static files
staticfiles
speakeazy/static/css/*
speakeazy/static/js/*
!speakeazy/static/**/.gitkeep

#Production Files
.env
.env.sh
devops/terraform.tfstate
devops/terraform.tfstate.backup
devops/terraform.tfvars
devops/account.json

#Development Files
speakeazy.db
