{% extends "base.html" %}
{% load static from staticfiles %}{% load i18n %}
{% block title %} - Invite View{% endblock %}

{% block breadcrumbs %}
  {% include "groups/group/invite/breadcrumb.html" %}
  <li><span>view</span></li>
  <li><span>{{ invite.slug }}</span></li>
{% endblock %}

{% block content %}
  <div class="">

    <h4 class="">{{ invite.name }}</h4>

    <div class="">
      <p>{{ invite.description }}</p>

      <div>
        Token: <a href="{% url 'groups:join_group_link' invite.group.name invite.token %}">{{ invite.token }}</a>
      </div>

      {% if invite.uses %}
        <div>Uses left: {{ invite.uses }}</div>
      {% endif %}

      {% if invite.uses %}
        <div>Expires on: {{ invite.expires }}</div>
      {% endif %}

      <div class="uk-margin">
        Authorizations:

        <ul class="uk-list uk-list-line">
          {% for authorization in invite.authorizations.all %}
            <li>{{ authorization.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
