// Card class, no need to make a css class just for adding a card
@for $i from 5 through 1 {
  .card-#{$i} {
    @include card($i);

    padding: 15px;
    background: #fff;
    color: $text-color;
  }
}
