/**
 * Set up a decent box model on the root element
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit; }

/**
 * Basic styles for links
 */
a {
  color: #006cd7;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #222;
    text-decoration: underline; }

@font-face {
  font-family: 'Open Sans', sans-serif; }

/**
 * Basic typography style for copy text
 */
body {
  color: #222;
  font: normal 125% / 1.4;
  font-family: "Open Sans", "Arial", sans-serif; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1200px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

#base-header .uk-breadcrumb {
  background: #82ed82;
  padding: 25px;
  margin-top: 0; }

.s-video-controller {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
  .s-video-controller .s-video-controller-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .s-video-controller .s-request-evaluation {
    top: 30px;
    right: 30px; }
  .s-video-controller .s-evaluation-list {
    top: 30px;
    left: 30px;
    max-height: 60%; }
  .s-video-controller .s-create-evaluation {
    top: 30px;
    left: 35%;
    right: 35%; }
  .s-video-controller .s-play-pause {
    top: 50%;
    left: 50%;
    margin-left: -22px;
    margin-top: -22px; }
  .s-video-controller .s-video-controls {
    bottom: 30px;
    left: 30px;
    right: 30px; }

.uk-breadcrumb.large *, .uk-breadcrumb.large *::before {
  font-size: 24px; }

.s-preview {
  transform: rotateY(180deg); }

.s-brand .green {
  color: #00C900; }

.s-create {
  border: 1px dashed #999;
  padding: 8px;
  color: #999;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center; }
  .s-create:hover, .s-create:active, .s-create:focus {
    color: #999; }

[class*="uk-width"] > .uk-panel {
  width: 100%;
  height: 100%; }

.s-panel-add {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444; }
  .s-panel-add i {
    margin-bottom: -2px !important;
    padding: 50px 0;
    font-size: 22px; }

.s-video {
  position: relative; }

@media (max-width: 768px) {
  .s-video-overlay, .s-evaluation-list > * > i, .s-video-controls > * {
    display: none; } }

.s-video-overlay, .s-evaluation-list > * > i, .s-video-controls > * {
  background-color: #444;
  position: absolute;
  padding: 15px; }
  .s-video-overlay.s-active, .s-evaluation-list > * > i.s-active, .s-video-controls > .s-active {
    background: #ee731b; }

.s-evaluation-list {
  position: absolute; }
  .s-evaluation-list i {
    cursor: pointer; }
  .s-evaluation-list > * > i {
    position: static;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    cursor: pointer; }
  .s-evaluation-list > *:first-child .s-create-evaluation input {
    margin-bottom: 10px; }
  .s-evaluation-list > *:first-child .s-create-evaluation .s-create-evaluation-info {
    text-align: center; }
  .s-evaluation-list > *:first-child .s-create-evaluation .uk-icon-button {
    margin: 5px; }
  .s-evaluation-list > *:first-child > i {
    margin-top: 0; }
  .s-evaluation-list > * .uk-panel {
    background: #444;
    color: white; }
    .s-evaluation-list > * .uk-panel .uk-panel-title {
      color: #EDEDED; }

.s-request-evaluation {
  cursor: pointer; }
  .s-request-evaluation .uk-dropdown {
    background-color: #444; }
    .s-request-evaluation .uk-dropdown li:not(.uk-nav-header):not(.uk-nav-divider):hover, .s-request-evaluation .uk-dropdown li:not(.uk-nav-header):not(.uk-nav-divider):active, .s-request-evaluation .uk-dropdown li:not(.uk-nav-header):not(.uk-nav-divider):focus {
      background-color: #ee731b; }

.s-video-controls {
  position: absolute;
  display: flex;
  align-content: space-between; }
  .s-video-controls i {
    cursor: pointer; }
  .s-video-controls > * {
    display: initial;
    position: static;
    margin: 0 10px; }
    .s-video-controls > *:first-child {
      margin-left: 0; }
    .s-video-controls > *:last-child {
      margin-right: 0; }
  .s-video-controls .s-video-time {
    display: flex;
    flex-grow: 1; }
    .s-video-controls .s-video-time .s-time-played {
      font-size: 12px;
      line-height: 1em;
      margin-right: 15px; }
    .s-video-controls .s-video-time .s-slider {
      width: 100%;
      height: 100%; }
      .s-video-controls .s-video-time .s-slider .s-points {
        background-color: red;
        position: absolute;
        top: 0;
        height: 10px; }
        .s-video-controls .s-video-time .s-slider .s-points > * {
          position: absolute;
          top: -7px;
          left: 0; }
      .s-video-controls .s-video-time .s-slider .s-slider-bar {
        background-color: #222;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 10px;
        top: 2px;
        display: flex;
        cursor: pointer; }
        .s-video-controls .s-video-time .s-slider .s-slider-bar .s-slider-played {
          background: #1889f2;
          height: 100%; }
        .s-video-controls .s-video-time .s-slider .s-slider-bar .s-slider-buffered {
          background: #999;
          height: 100%; }
        .s-video-controls .s-video-time .s-slider .s-slider-bar .s-slider-position {
          position: relative;
          top: -2px;
          right: 6.5px;
          width: 0; }

.s-play-pause {
  cursor: pointer; }

noscript > * {
  background: #85de97;
  color: #217a30;
  font-weight: bold;
  text-align: center;
  padding: 4px; }
