{% extends "user_base.html" %}
{% load static %}{% load i18n %}{% load crispy_forms_tags %}
{% block title-dash %}Speakeazy - Create Project{% endblock %}

{% block title %}{% endblock %}

{% block s_content %}
    <div class="container">

        <h2>Create Project</h2>

        <form class="form-horizontal" method="post" action="{% url 'projects:newProject' %}">

            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="btn">Create</button>
        </form>
    </div>
{% endblock %}
