{% extends 'base.html' %}
{% load static from staticfiles %}{% load i18n %}{% load floppyforms %}
{% block title %} - Create Project{% endblock %}

{% block breadcrumbs %}
  {% include 'projects/breadcrumb.html' %}
  <li class="uk-active"><span>new</span></li>
{% endblock %}

{% block content %}
  <h2 class="uk-text-center">Create Project</h2>

  <form class="s-form uk-form uk-form-stacked" enctype="multipart/form-data" method="post"
        action="{% url 'projects:create_project' %}">
    {% csrf_token %}

    {% form form %}

    <div class="uk-form-row">
      <button type="submit" class="s-form-submit uk-button">Create Project</button>
    </div>
  </form>
{% endblock %}
