{% extends "projects/p_base.html" %}
{% load static from staticfiles %}{% load i18n %}{% load crispy_forms_tags %}
{% block title %} - Create Project{% endblock %}

{% block p_breadcrumbs %}
    <li class="uk-active"><span>list</span></li>
{% endblock %}

{% block content %}
    <h2>Create Project</h2>

    <form class="form-horizontal" method="post" action="{% url 'projects:newProject' %}">

        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn">Create</button>
    </form>
{% endblock %}
