{% extends 'base.html' %}
{% load static from staticfiles %}{% load i18n %}{% load floppyforms %}
{% block title %} - Create Project{% endblock %}

{% block breadcrumbs %}
    {% include 'projects/breadcrumb.html' %}
    <li class="uk-active"><span>new</span></li>
{% endblock %}

{% block content %}
    <h2>Create Project</h2>

    <form class="uk-form uk-form-stacked" enctype="multipart/form-data" method="post"
          action="{% url 'projects:newProject' %}">
        {% csrf_token %}

        {% form form %}

        <div class="uk-form-row">
            <button type="submit" class="uk-button">Add</button>
        </div>
    </form>
{% endblock %}
{% block jquery %}
    <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/56f9b6002c34f720663f362a/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
    <!--End of Tawk.to Script-->
{% endblock %}
