{% extends "base.html" %}
{% load static from staticfiles %}{% load i18n %}
{% block title %}Projects{% endblock %}

{% block breadcrumbs %}
    <li class="uk-active"><span>projects</span></li>
{% endblock %}

{% block content %}
    <div id="project-list" class="uk-flex uk-grid">

        {% for project in userproject_list %}
            <div class="uk-width-small-1-3 uk-width-medium-1-4 uk-width-large-1-6">
                <a href="{% url 'projects:project:projectView' project.slug %}"
                   class="uk-panel uk-panel-box panel-card uk-panel-header">

                    <h3 class="uk-panel-title">{{ project.name }}</h3>

                    <div class="project-info">
                        <p class="project-description">{{ project.description }}</p>

                        <div class="project-bottom-info">
                            <div>Due: {{ project.due_date|date:"Y-m-d" }}</div>

                            <div>
                                {{ project.recording_set.all|length }}
                                Recording{{ project.recording_set.all|pluralize:"s" }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}

        <div class="uk-width-small-1-3 uk-width-medium-1-4 uk-width-large-1-6">
            <a class="uk-panel uk-panel-box panel-add" href="{% url 'projects:newProject' %}">
                <i class="uk-icon-plus uk-contrast new-project-panel-icon"></i>
                <div class="add-text">Create New Project</div>
            </a>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/56f9b6002c34f720663f362a/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
    <!--End of Tawk.to Script-->
{% endblock %}
