//// project specific CSS goes here
//
//// Alert colors
//
//$white: #fff;
//$mint-green: #d6e9c6;
//$black: #000;
//$pink: #f2dede;
//$dark-pink: #eed3d7;
//$red: #b94a48;
//
//// bootstrap alert CSS, translated to the django-standard levels of
//// debug, info, success, warning, error
//
//.alert-debug {
//  background-color: $white;
//  border-color: $mint-green;
//  color: $black;
//}
//
//.alert-error {
//  background-color: $pink;
//  border-color: $dark-pink;
//  color: $red;
//}
//
//// This is a fix for the bootstrap4 alpha release
//
//@media (max-width: 47.9em) {
//  .navbar-nav .nav-item {
//    display: inline-block;
//    float: none;
//    width: 100%;
//  }
//
//  .navbar-nav .nav-item + .nav-item {
//    margin-left: 0;
//  }
//
//  .nav.navbar-nav.pull-right {
//    float: none !important;
//  }
//}
//
//// Display django-debug-toolbar.
//// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
//// and https://github.com/pydanny/cookiecutter-django/issues/317
//
//[hidden][style="display: block;"] {
//  display: block !important;
//}
//
//noscript {
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100%;
//  background: #85de97;
//  color: #217a30;
//  font-weight: bold;
//  text-align: center;
//  padding: 4px;
//}
//
//html, body {
//  background: hsl(26, 30%, 95%);
//  height: 100%;
//};
$green: #47b347;

$list-item-border: hsl(120, 15%, 50%);
$list-item-highlight: hsl(120, 15%, 95%);

$section-background: hsl(120, 35%, 85%);
$section-shadow: hsl(26, 10%, 70%);
$section-title-shadow: hsl(120, 25%, 80%);

// custom list
.s-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; //space-around; //center;
  align-items: flex-start; //center;
  align-content: space-between; //center;

  .s-list-item {
    border: 1px solid $list-item-border;
    border-radius: 4px;

    min-width: 100px;
    max-width: 160px;

    flex: 1 1 auto;

    margin-right: 20px;
    margin-bottom: 30px;

    color: black;
    text-align: center;

    .s-list-item-heading {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    &:hover {
      background: $list-item-highlight;
      color: black;
      text-decoration: none;
      outline: none;
    }

    &:active, &:focus {
      background: $list-item-highlight;
      color: black;
      text-decoration: none;
      outline: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .s-list-add {
    border: 1px dashed $list-item-border;
    padding: 8px;

    color: $list-item-border;
    font-size: x-large;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $list-item-border;
    }

    &:active, &:focus {
      color: $list-item-border;
    }
  }
}

// flip recordings on the y axis to mirror the user
.s-preview {
  transform: rotateY(180deg);
}

.s-video{

}

.s-title {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.s-section {
  background: white;
  box-shadow: 0 0 2px $section-shadow;

  padding-bottom: 10px;
  margin: 5px 0;

  .s-section-link {
    background: $section-background;
    box-shadow: 0 4px 2px -2px $section-title-shadow;
    //border-radius: 0 0 5px 5px;

    display: block;
    margin-bottom: 20px;

    .s-section-title {
      background: none;
      box-shadow: none;

      margin-bottom: 0;

    }
  }

  .s-section-title {
    background: $section-background;
    box-shadow: 0 4px 2px -2px $section-title-shadow;
    display: block;
    //border-radius: 0 0 5px 5px;

    color: black;
    margin-bottom: 20px;
    padding: 10px 10px 10px 35px;
  }

  .s-section-content {
    padding: 20px 65px 0;
  }
}
;
$description: hsl(120, 0, 60%);

#home {

  .s-list {
    justify-content: space-around;

    .s-list-item {
      display: flex;
      flex-direction: column;

      &:last-child {
        margin-right: 0;
      }

      .item-info {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .project-description {
          margin: 5px;
          text-align: start;
          text-indent: 10px;

          color: $description;
        }

        .project-recording-count {
          color: $description;
        }
      }
    }
  }
}
;
@charset "UTF-8";

// 1. Configuration and helpers
@import 'utils/variables';
@import 'utils/functions';
@import 'utils/mixins';
//
//
// 2. Vendors
@import 'vendor/normalize';
//
//
// 3. Base stuff
@import 'base/base';
@import 'base/fonts';
@import 'base/typography';
@import 'base/helpers';
//
//
// 4. Layout-related sections
@import 'layout/header';
@import 'layout/footer';
//
//
// 5. Components
@import 'components/buttons';
@import 'components/navbar';
@import 'components/breadcrumb';
//
//
// 6. Page-specific styles
@import 'pages/home';
//
//
// 7. Themes
@import 'themes/default';
;
$description: hsl(120, 0, 60%);

#project-list {

  .s-list-item {
    display: flex;
    flex-direction: column;

    .project-info {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      color: $description;

      .project-description {
        margin: 5px;
        text-align: start;
        text-indent: 10px;
      }

      .project-bottom-info {
        padding-top: 5px;

        * {
          padding: 2px;
        }
      }
    }
  }
}
;
$description: hsl(120, 0, 60%);
$height: 30px;

#recording-view {
  .s-section-content {
    //display: flex;
    //flex-direction: row;
    //justify-content: space-around;
    //align-items: center;
  }

  // move this to classes
  .s-video {
    position: relative;

    video {
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .s-video-controls {
      background-color: hsl(120, 40%, 20%);
      //opacity: 0.9999999; // fixes background not showing
      position: absolute;
      bottom: 5px;
      width: 100%;
      height: $height;
      z-index: 2147483647;
      color: white;

      padding: 0 10px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .s-video-time {
        font-size: 12px;
      }

      .s-video-slider {
        flex-grow: 1;

        height: 100%;
        padding: 0;
        margin: 0 10px;

        .s-video-points {
          height: 50%;
          position: relative;

          .s-video-pointer {
            position: absolute;
            bottom: -2px;

            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            text-align: center;

            cursor: default;
          }

          .s-video-marker {
            position: absolute;
            bottom: 0;

            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;

            & > .fa {
              text-align: center;
              width: 40px;

              cursor: pointer;
            }

            & > .fa-caret-down {
              margin-bottom: -3px;
              padding-bottom: 6px;
            }

            & > .fa-caret-up {
              color: white;
              margin-top: -5px;
              margin-bottom: -9px;
            }
          }

          .s-video-marker-container {
            background: hsla(120, 0, 90%, 0.2);
            border: 1px solid hsla(120, 0, 70%, 0.2);
            color: black;

            padding: 5px;

            display: flex;
            flex-flow: column-reverse;

            .s-video-eval, .s-video-eval-add {
              position: relative;
              margin: 3px;
              text-align: center;

              background: hsl(26, 100%, 45%);
              border-radius: 4px;
              padding: 3px;

              cursor: pointer;
            }

            .s-video-eval-menu {
              position: absolute;
              bottom: -8px;
              left: 15px;

              height: 40px;

              padding-left: 10px;

              display: flex;
              align-items: center;

              & > .fa {
                color: white;
                text-align: center;
              }

              & > .fa-caret-left {
              }

              & > .fa-caret-right {
                margin-left: -1px;
                margin-right: 5px;
              }

              .s-video-eval-content, .s-video-eval-add-types {
                background: hsla(120, 0, 90%, 0.2);
                border: 1px solid hsla(120, 0, 70%, 0.2);
                padding: 5px;
                margin-left: -5px;

                color: white;

                display: flex;

                div {
                  cursor: default;
                }
              }

              .s-video-eval-add-types {

                & > a {
                  position: relative;
                  margin: 3px;
                  text-align: center;

                  background: hsl(26, 100%, 45%);
                  border-radius: 4px;
                  padding: 3px;

                  cursor: pointer;
                }
              }
            }
          }
        }

        .s-video-slider-bar {
          background: black;
          height: 50%;

          display: flex;

          cursor: pointer;

          .s-video-slider-played {
            background-color: red;
            width: 0;
            height: 100%;

            display: flex;
            justify-content: flex-end;
          }

          .s-video-slider-buffered {
            background-color: hsl(0, 0, 50%);
            width: 0;
            height: 100%;
          }
        }
      }

      & > * {
        padding: 0 8px;
        margin: 0 2px;
      }

      a {
        color: white;
        cursor: pointer;

        &:hover, &:active, &:focus {
          text-decoration: none;
          outline: none;
        }
      }
    }
  }
}

;
$background: hsl(120, 60%, 70%);
//$link: hsl(120, 40%, 45%);
$text: hsl(120, 5%, 50%);

#user-base-background {
  height: 100%;
}

#user-base {
  #action-bar {
    background: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;

    & > * {
      cursor: pointer;

      padding: 10px 15px 10px 15px;

      &:hover {
        background: $background;
        text-decoration: none;
        outline: none;
      }

      &:active, &:focus {
        background: $background;
        text-decoration: none;
        outline: none;
      }
    }
  }
}
