$green: #47b347;

$list-item-border: hsl(120, 15%, 50%);
$list-item-highlight: hsl(120, 15%, 95%);

$section-background: hsl(120, 35%, 85%);
$section-shadow: hsl(26, 10%, 70%);
$section-title-shadow: hsl(120, 25%, 80%);

// custom list
.s-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; //space-around; //center;
  align-items: flex-start; //center;
  align-content: space-between; //center;

  .s-list-item {
    border: 1px solid $list-item-border;
    border-radius: 4px;

    min-width: 100px;
    max-width: 160px;

    flex: 1 1 auto;

    margin-right: 20px;
    margin-bottom: 30px;

    color: black;
    text-align: center;

    .s-list-item-heading {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    &:hover {
      background: $list-item-highlight;
      color: black;
      text-decoration: none;
      outline: none;
    }

    &:active, &:focus {
      background: $list-item-highlight;
      color: black;
      text-decoration: none;
      outline: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .s-list-add {
    border: 1px dashed $list-item-border;
    padding: 8px;

    color: $list-item-border;
    font-size: x-large;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $list-item-border;
    }

    &:active, &:focus {
      color: $list-item-border;
    }
  }
}

// flip recordings on the y axis to mirror the user
.s-recording {
  transform: rotateY(180deg);
}

.s-title {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.s-section {
  background: white;
  box-shadow: 0 0 2px $section-shadow;

  padding-bottom: 10px;
  margin: 5px 0;

  .s-section-link {
    background: $section-background;
    box-shadow: 0 4px 2px -2px $section-title-shadow;

    display: block;
    margin-bottom: 20px;

    .s-section-title {
      background: none;
      box-shadow: none;

      margin-bottom: 0;

    }
  }

  .s-section-title {
    background: $section-background;
    box-shadow: 0 4px 2px -2px $section-title-shadow;
    display: block;

    color: black;
    margin-bottom: 20px;
    padding: 10px 10px 10px 35px;
  }

  .s-section-content {
    padding: 20px 65px 0;
  }
}
