$description: hsl(120, 0, 60%);

#home {

  .s-list {
    justify-content: space-around;

    .s-list-item {
      display: flex;
      flex-direction: column;

      &:last-child {
        margin-right: 0;
      }

      .item-info {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .project-description {
          margin: 5px;
          text-align: start;
          text-indent: 10px;

          color: $description;
        }

        .project-recording-count {
          color: $description;
        }
      }
    }
  }
}
