$description: hsl(120, 0, 60%);

#project-list {

  .s-list-item {
    display: flex;
    flex-direction: column;

    .project-info {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      color: $description;

      .project-description {
        margin: 5px;
        text-align: start;
        text-indent: 10px;
      }

      .project-bottom-info {
        padding-top: 5px;

        * {
          padding: 2px;
        }
      }
    }
  }
}
