/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  //font: normal (125% / 1.4) $text-font-stack;
  font-family: $text-font-stack;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $text-font-stack;
  color: rgba(0, 0, 0, .64);
}
.logo-font {
    font-family:$logo-font;
}

//* {
//  font-family: inherit !important;
//}
