{% load static from staticfiles %}{% load hijack_tags %}{% load i18n %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>SpeakEazy{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="application-name" content="Speakeazy">
  <meta name="keywords" content="public speaking speech improvement improve">
  <meta name="description" content="Public speaking simulator">
  <meta name="author" content="Speakeazy Inc.">

  <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/components/tooltip.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/components/autocomplete.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/components/datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/components/progress.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/components/notify.min.css">

    <link href="{% static 'css/build.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}"/>
  {% endblock %}

  <script>var se = {};</script>
</head>

<body>
{% hijack_notification %}

<noscript>
  <div id="noscript">
    <div>Speakeazy works best with JavaScript enabled</div>
  </div>
</noscript>

<div id="base-header">
  <nav class="uk-navbar uk-navbar-attached">
    <a class="uk-navbar-brand logo" href="{% url 'speakeazy:dashboard' %}">
      {% include 'components/logo.html' %}
    </a>

    <div class="uk-navbar-flip">
      {% if not user.is_anonymous %}
        <ul class="uk-navbar-nav">
          <li><a class="nav-link" {#href="{% url 'projects:practice:create' %}"#} title="Coming Soon!
              {#Magic Hat#}"><i class="uk-icon-magic uk-icon-small"></i></a></li>

          <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
            <a class="nav-link">{{ user|capfirst }} <i class="uk-icon-caret-square-o-down"></i></a>

            <div class="uk-dropdown">
              <ul class="uk-nav uk-nav-dropdown">
                <li><a href="{% url 'speakeazy:dashboard' %}">Dashboard</a></li>
                <li class="uk-nav-divider"></li>

                <li><a href="{% url 'groups:groupList' %}">Group List</a></li>
                <li><a href="{% url 'groups:joinGroup' %}">Join Group</a></li>
                <li><a title="Coming Soon!" disabled>Create Group</a></li>

                {% if user.is_staff %}
                  <li class="uk-nav-divider"></li>
                  <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
              </ul>
            </div>
          </li>

          <li><a class="nav-link" href="{% url 'userena_signout' %}">Logout</a></li>
        </ul>
      {% endif %}
    </div>
  </nav>

  <ul class="uk-breadcrumb large">{% block breadcrumbs %}{% endblock %}</ul>
</div>

<noscript>
  {% if messages %}
    <div id="error-notification" class="container">
      {% for message in messages %}
        <div class="uk-alert {% if message.tags %}uk-alert-{{ message.tags }}"{% endif %} data-uk-alert>
          <a href="" class="uk-alert-close uk-close"></a>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</noscript>

<div class="base-content">
  {% block base_content %}
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
  {% endblock base_content %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/components/tooltip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/components/autocomplete.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/components/datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/components/timepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/components/notify.min.js"></script>

<script src="{% static 'js/vendor/jquery.ba-throttle-debounce.min.js' %}"></script>
<script src="{% static 'js/vendor/mousestop.js' %}"></script>
<script src="{% static 'js/reverse.js' %}"></script>

{# Your stuff: Third-party javascript libraries go here #}
{% block extra_js_libraries %}{% endblock extra_js_libraries %}

{# place project specific Javascript in this file #}
{% block template_scripts %}{% endblock template_scripts %}

<script src="{% static 'js/project.js' %}"></script>
<script src="{% static 'js/build.js' %}"></script>

{% block jquery %}{% endblock jquery %}
{% block extra_end_scripts %}{% endblock extra_end_scripts %}

{# django messaging framework #}
{% if messages %}
  <script>
    {% for message in messages %}
      UIkit.notify("{{ message | escapejs }}", {status: '{{ message.tags | escapejs }}'});
    {% endfor %}
  </script>
{% endif %}

{% include 'components/tawk.html' %}
</body>
</html>
