{% load static from staticfiles %}{#{% load hijack_tags %}#}{% load i18n %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Speakeazy{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.25.0/css/uikit.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.25.0/css/components/tooltip.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.25.0/css/components/autocomplete.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.25.0/css/components/datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.25.0/css/components/progress.min.css">

    <!-- Your stuff: Third-party css libraries go here -->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/build.css' %}" rel="stylesheet">
    {#        <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}"/>#}
  {% endblock %}

  <script type="text/javascript">
    var se = {};
  </script>
</head>

<body>
{#{% hijack_notification %}#}

<noscript>
  <div id="noscript">Speakeazy works best with JavaScript enabled</div>
</noscript>

<div id="base-header">
  <nav class="uk-navbar uk-navbar-attached">
    <a class="uk-navbar-brand s-brand" href="{% url 'speakeazy:dashboard' %}">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 249.84 48.75">
        <defs>
          <style>.cls-1 {
            fill: #515151;
          }

          .cls-2 {
            fill: #53b08b;
          }</style>
        </defs>
        <title>speakeazy</title>
        <path class="cls-1" d="M0.58,32.41A1.87,1.87,0,0,1,.76,30a1.81,1.81,0,0,1,1.32-.55,1.83,1.83,0,0,1,1.59.87,5.57,5.57,0,0,0,.66.84,7.17,7.17,0,0,0,5.11,2.65A7.3,7.3,0,0,0,14.9,32a7.51,7.51,0,0,0,.88-10.57,7.26,7.26,0,0,0-5.12-2.61,9.06,9.06,0,0,1-6.37-3.28A9.09,9.09,0,0,1,2.08,8.7,9.06,9.06,0,0,1,5.36,2.32,9.08,9.08,0,0,1,11.46,0,9.36,9.36,0,0,1,18.58,3.4a10,10,0,0,1,.91,1.27,1.85,1.85,0,0,1,.28,1A1.88,1.88,0,0,1,17.9,7.55,1.53,1.53,0,0,1,16.59,7L15.72,5.84a5.44,5.44,0,0,0-3.82-2A5.43,5.43,0,0,0,7.8,5.19,5.4,5.4,0,0,0,5.83,9a5.43,5.43,0,0,0,1.32,4.1,5.4,5.4,0,0,0,3.81,2A11,11,0,0,1,18.65,19a10.75,10.75,0,0,1,2.65,7.13q0,0.54,0,1.08a10.78,10.78,0,0,1-3.91,7.64,10.79,10.79,0,0,1-7.2,2.7,11.34,11.34,0,0,1-8.67-4A9,9,0,0,1,.58,32.41Z" transform="translate(-0.21 -0.05)"/>
        <path class="cls-1" d="M28.8,46.92a1.88,1.88,0,0,1-3.75,0V24.42a12.65,12.65,0,0,1,3.84-9.28,12.65,12.65,0,0,1,9.28-3.84,12.65,12.65,0,0,1,9.28,3.84,12.65,12.65,0,0,1,3.84,9.28,12.65,12.65,0,0,1-3.84,9.28,12.65,12.65,0,0,1-9.28,3.84A12.65,12.65,0,0,1,28.9,33.7l-0.09-.09V46.92Zm0-22.5a9.36,9.36,0,0,0,9.38,9.38,9.36,9.36,0,0,0,9.38-9.37A9.36,9.36,0,0,0,38.18,15,9.36,9.36,0,0,0,28.8,24.42Z" transform="translate(-0.21 -0.05)"/>
        <path class="cls-1" d="M75.4,31.17A1.88,1.88,0,0,1,77.27,33a1.87,1.87,0,0,1-.54,1.34A13.14,13.14,0,0,1,58.9,33.7a12.65,12.65,0,0,1-3.84-9.28,12.65,12.65,0,0,1,3.84-9.28,13.13,13.13,0,0,1,18.56,0,12.65,12.65,0,0,1,3.84,9.28,1.88,1.88,0,0,1-1.87,1.88H59a9.42,9.42,0,0,0,9.21,7.5,8.85,8.85,0,0,0,6-2.23A1.87,1.87,0,0,1,75.4,31.17Zm2-8.62a9.4,9.4,0,0,0-15.84-4.76A9,9,0,0,0,59,22.55H77.39Z" transform="translate(-0.21 -0.05)"/>
        <path class="cls-1" d="M107.55,33.61a12.8,12.8,0,0,1-9.37,3.94A12.65,12.65,0,0,1,88.9,33.7a12.65,12.65,0,0,1-3.84-9.28,12.65,12.65,0,0,1,3.84-9.28,13.13,13.13,0,0,1,18.56,0,12.65,12.65,0,0,1,3.84,9.28V35.67a1.88,1.88,0,0,1-3.75,0V33.61ZM98.18,15a9.36,9.36,0,0,0-9.37,9.38,9.38,9.38,0,1,0,18.75,0A9.36,9.36,0,0,0,98.18,15Z" transform="translate(-0.21 -0.05)"/>
        <path class="cls-1" d="M118.8,21.89l15.87-10.31a1.85,1.85,0,0,1,1-.28,1.88,1.88,0,0,1,1.88,1.88,1.79,1.79,0,0,1-.54,1.31l-0.26.23L125.88,21.8,137,34.36a1.88,1.88,0,0,1,.52,1.31,1.88,1.88,0,0,1-1.87,1.88,1.9,1.9,0,0,1-1.36-.56L122.67,23.86l-3.87,2.51v9.3a1.88,1.88,0,0,1-3.75,0V1.92A1.81,1.81,0,0,1,115.6.6a1.87,1.87,0,0,1,2.65,0,1.81,1.81,0,0,1,.55,1.32v20Z" transform="translate(-0.21 -0.05)"/>
        <path class="cls-2" d="M143.18,0h22.5A1.81,1.81,0,0,1,167,.6a1.81,1.81,0,0,1,.55,1.32A1.81,1.81,0,0,1,167,3.25a1.81,1.81,0,0,1-1.32.55H145.05V16.92h15a1.88,1.88,0,0,1,0,3.75h-15V33.8h20.63a1.88,1.88,0,0,1,0,3.75h-22.5a1.88,1.88,0,0,1-1.87-1.87V1.92A1.81,1.81,0,0,1,141.85.6,1.81,1.81,0,0,1,143.18,0Z" transform="translate(-0.21 -0.05)"/>
        <path class="cls-2" d="M193.8,33.61a12.8,12.8,0,0,1-9.37,3.94,12.65,12.65,0,0,1-9.28-3.84,12.65,12.65,0,0,1-3.84-9.28,12.65,12.65,0,0,1,3.84-9.28,13.13,13.13,0,0,1,18.56,0,12.65,12.65,0,0,1,3.84,9.28V35.67a1.88,1.88,0,0,1-3.75,0V33.61ZM184.43,15a9.36,9.36,0,0,0-9.37,9.38,9.38,9.38,0,1,0,18.75,0A9.36,9.36,0,0,0,184.43,15Z" transform="translate(-0.21 -0.05)"/>
        <path class="cls-2" d="M221.93,33.8a1.88,1.88,0,0,1,0,3.75H203.18a1.88,1.88,0,0,1-1.87-1.87,1.84,1.84,0,0,1,.38-1.15L217.92,15H203.18a1.87,1.87,0,0,1-1.32-3.2,1.81,1.81,0,0,1,1.32-.55h18.75a1.88,1.88,0,0,1,1.43,3.09L207.16,33.8h14.77Z" transform="translate(-0.21 -0.05)"/>
        <path class="cls-2" d="M236.76,35.65l-9-21.61a1.82,1.82,0,0,1-.21-0.87,1.88,1.88,0,0,1,1.88-1.87,1.87,1.87,0,0,1,1.34.54,2.13,2.13,0,0,1,.45.7l7.59,18.21,7.59-18.21a2,2,0,0,1,.47-0.7,1.79,1.79,0,0,1,1.31-.54,1.88,1.88,0,0,1,1.88,1.88,1.82,1.82,0,0,1-.21.87l-14,33.52a1.9,1.9,0,0,1-.45.68,1.83,1.83,0,0,1-1.34.56,1.88,1.88,0,0,1-1.87-1.87,1.82,1.82,0,0,1,.21-0.87Z" transform="translate(-0.21 -0.05)"/>
      </svg>
    </a>

    <div class="uk-navbar-flip">
      {% if not user.is_anonymous %}
        <ul class="uk-navbar-nav">
          <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
            <a class="nav-link">{{ user|capfirst }} <i class="uk-icon-caret-square-o-down"></i></a>

            <div class="uk-dropdown">
              <ul class="uk-nav uk-nav-dropdown">
                <li><a href="{% url 'speakeazy:dashboard' %}">Dashboard</a></li>
                <li class="uk-nav-divider"></li>

                <li><a href="{% url 'groups:groupList' %}">Group List</a></li>
                <li><a href="{% url 'groups:joinGroup' %}">Join Group</a></li>
                <li><a href="{% url 'groups:newGroup' %}">Create Group</a></li>

                {% if user.is_staff %}
                  <li class="uk-nav-divider"></li>
                  <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
              </ul>
            </div>
          </li>

          <li><a class="nav-link" href="{% url 'userena_signout' %}">Logout</a></li>
        </ul>
      {% endif %}
    </div>
  </nav>

  <ul class="uk-breadcrumb large">{% block breadcrumbs %}{% endblock %}</ul>
</div>

{% if messages %}
  <div id="error-notification" class="container">
    {% for message in messages %}
      <div class="uk-alert {% if message.tags %}uk-alert-{{ message.tags }}"{% endif %} data-uk-alert>
        <a href="" class="uk-alert-close uk-close"></a>
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

<div class="container">
  {% block content %}{% endblock content %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.25.0/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.25.0/js/components/tooltip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.25.0/js/components/autocomplete.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.25.0/js/components/datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.25.0/js/components/timepicker.min.js"></script>

<script src="{% static 'js/vendor/jquery.ba-throttle-debounce.min.js' %}"></script>
<script src="{% static 'js/vendor/mousestop.js' %}"></script>
<script src="{% static 'django_js_reverse/js/reverse.js' %}"></script>

<!-- Your stuff: Third-party javascript libraries go here -->
{% block extra_js_libraries %}{% endblock extra_js_libraries %}

<!-- place project specific Javascript in this file -->
{% block template_scripts %}{% endblock template_scripts %}

<script src="{% static 'js/project.js' %}"></script>
{% block jquery %}{% endblock jquery %}
{% block extra_end_scripts %}{% endblock extra_end_scripts %}


<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
  (function () {
    var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = 'https://embed.tawk.to/56f9b6002c34f720663f362a/default';
    s1.charset = 'UTF-8';
    s1.setAttribute('crossorigin', '*');
    s0.parentNode.insertBefore(s1, s0);
  })();
</script>
<!--End of Tawk.to Script-->

</body>
</html>
