{% load static from staticfiles %}{#{% load hijack_tags %}#}{% load i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Speakeazy{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/uikit.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/components/tooltip.min.css">

        <!-- Your stuff: Third-party css libraries go here -->

        <!-- This file store project specific CSS -->
        <link href="{% static 'css/build.css' %}" rel="stylesheet">
{#        <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}"/>#}
    {% endblock %}
</head>

<body>
{#{% hijack_notification %}#}

<noscript>
    <div id="noscript">Speakeazy works best with JavaScript enabled</div>
</noscript>

<div id="base-header">
    <nav class="uk-navbar uk-navbar-attached">
        <a class="uk-navbar-brand s-brand" href="{% url 'speakeazy:home' %}">Speak<span class="green">Eazy</span></a>

        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
                    <a class="nav-link">{{ user|capfirst }}</a>

                    <div class="uk-dropdown">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li><a href="{% url 'speakeazy:home' %}">Home</a></li>
                            {#                            {% if user.isAdmin %}#}
                            {#                            <li><a href="{% url 'admin:index' %}">Admin</a></li>#}
                            {#                            {% endif %}#}
                            <li class="uk-nav-divider"></li>
                            <li><a href="{% url 'groups:groupList' %}">Group List</a></li>
                            <li><a href="{% url 'groups:joinGroup' %}">Join Group</a></li>
                            <li><a href="{% url 'groups:newGroup' %}">Create Group</a></li>
                        </ul>
                    </div>
                </li>

                <li><a class="nav-link" href="{% url 'userena_signout' %}">Logout</a></li>
            </ul>
        </div>
    </nav>

    <ul class="uk-breadcrumb large">{% block breadcrumbs %}{% endblock %}</ul>
</div>

{% if messages %}
    <div id="error-notification" class="container">
        {% for message in messages %}
            <div class="uk-alert {% if message.tags %}uk-alert-{{ message.tags }}"{% endif %} data-uk-alert>
                <a href="" class="uk-alert-close uk-close"></a>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="container">
    {% block content %}{% endblock content %}
</div>

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {#    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.2/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/js/components/tooltip.min.js"></script>
    <script src="{% static 'js/vendor/jquery.ba-throttle-debounce.min.js' %}"></script>
    <script src="{% static 'js/vendor/mousestop.js' %}"></script>

    <!-- Your stuff: Third-party javascript libraries go here -->
    {% block extra_js_libraries %}{% endblock extra_js_libraries %}

    <!-- place project specific Javascript in this file -->
    {% block template_scripts %}{% endblock template_scripts %}

    <script src="{% static 'js/project.js' %}"></script>
    {% block jquery %}{% endblock jquery %}
    {% block extra_end_scripts %}{% endblock extra_end_scripts %}
{% endblock javascript %}

</body>
</html>
