{% extends "base.html" %}

{% block base_title %}Speakeazy - {% block title %}{% endblock %}{% endblock %}

{% block content %}
    <div id="user-base">
        <div id="action-bar">
            <div class="s-dropdown">
                <div class="s-dropdown-title">{{ view.request.user }}</div>
                <div class="s-dropdown-content">
                    <a href="{% url 'speakeazy:home' %}">Home</a>

                    {# <a href="{% url 'speakeazy:' %}">Account</a> #}

                    {% for group in group_list %}
{#                     <a href="{% url 'speakeazy:groups:home' %}">Acc{{ group.name }}ount</a> #}
                    {% endfor %}

                    {% if user.isAdmin %}<a href="{% url 'speakeazy:home' %}">Home</a>{% endif %}
                </div>
            </div>
            <a href="{% url 'account_logout' %}">Log Out</a>
        </div>

        <ol class="breadcrumb"></ol>
    </div>

    {% block s_content %}{% endblock %}
{% endblock %}
