.s-evaluation-player {
  position: relative;

  .s-video-controller {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .s-video-controller-background {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .s-request-evaluation {
      top: $video-player-offset;
      right: $video-player-offset;
    }

    .s-evaluation-list {
      top: $video-player-offset;
      left: $video-player-offset;

      max-height: 60%;
    }

    .s-play-pause {
      top: 50%;
      left: 50%;
      padding-right: 10px;

      margin-left: -$video-play-pause-width/2;
      margin-top: -$video-play-pause-height/2;
    }

    .s-video-controls {
      bottom: $video-player-offset;
      left: $video-player-offset;
      right: $video-player-offset;

      position: absolute;

      display: flex;
      align-content: space-between;

      & > * {
        @extend .s-video-overlay;
        display: initial;
        position: static !important;

        margin: 0 10px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .s-video-time {
        display: flex;

        flex-grow: 1;

        .s-time-played {
          font-size: 12px;
          line-height: 1em;

          margin-right: 15px;
        }

        .s-slider {
          width: 100%;
          height: 100%;

          .s-points {
            background-color: red;

            position: absolute;
            top: 0;
            height: 10px;

            & > * {
              position: absolute;
              top: -6px;
              left: 0;
            }
          }

          .s-slider-bar {
            background-color: $very-dark-grey;
            border-radius: 4px;
            overflow: hidden;

            position: relative;
            width: 100%;
            height: $video-slider-height;
            top: 2px;

            display: flex;

            cursor: pointer;

            .s-slider-played {
              background: $video-slider-primary-color;
              height: 100%;
            }

            .s-slider-buffered {
              background: $mid-grey;
              height: 100%;
            }

            .s-slider-position {
              position: relative;
              top: -2px;
              right: 6px;
              width: 0;
            }
          }
        }
      }
    }
  }

  .s-slider-comment-marker {
    transform: rotate(90deg);
    font-size: 107%;
    vertical-align: -10%;
    top: 13px !important;
    z-index: 2;
    color: white;
  }

  video {
    height: 95vh;
  }
}
