.s-evaluation-player {
  position: relative;

  .s-video-controller {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .s-video-controller-background {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .s-request-evaluation {
      top: $video-player-offset;
      right: $video-player-offset;
    }

    .s-evaluation-list {
      top: $video-player-offset;
      left: $video-player-offset;

      max-height: 60%;
    }

    .s-play-pause {
      top: 50%;
      left: 50%;

      margin-left: -$video-play-pause-width/2;
      margin-top: -$video-play-pause-height/2;
    }

    .s-video-controls {
      bottom: $video-player-offset;
      left: $video-player-offset;
      right: $video-player-offset;
    }
  }

  video {
    max-height: 95vh;
  }
}