
#record {

    & h5 {
        max-width: 900px;
        margin: 20px auto;
        text-align: left;;

    }
    & h2{
        max-width: 900px;
        margin:0 auto;
    }
}

.s-recording-player {
  position: relative;

  #start-recording {

    position: absolute;
    left: $video-player-offset;
    top: $video-player-offset;
    background-color: $secondary-brand-color;

  }

    .s-video-button{
        @include card(3);
        border-radius: 3px;
    }


  .s-recording-volume {
    position: absolute;
    left: $video-player-offset;
    bottom: $video-player-offset;
  }

  #stop-recording {
    position: absolute;
    left: $video-player-offset;
    top: $video-player-offset;
    background-color: $secondary-brand-color;
  }

  video {
    height: 95vh;
  }

  & > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
