{% extends "projects/project/project_base.html" %}
{% load static from staticfiles %}{% load i18n %}
{% block title %} - {{ project.name }}{% endblock %}

{% block project_breadcrumbs %}
    <li class="uk-active"><span>{{ project.slug }}</span></li>
{% endblock %}

{% block content %}
    <div id="project-list" class="uk-block uk-flex uk-grid">

        {% for recording in recording_list %}
            <div class="uk-width-small-1-3 uk-width-medium-1-4 uk-width-large-1-6">
                <a href="{% url 'projects:project:recordingView' project.slug recording.slug %}">

                    <figure class="uk-overlay uk-overlay-hover">
                        <video class="s-video" src="{{ recording.thumbnail_video.url }}"
                               poster="{{ recording.thumbnail_image.url }}" loop></video>
                        <figcaption
                                class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                            <div>id: {{ recording.slug }}</div>
                            <div>duration: {{ recording.duration }}</div>
                        </figcaption>
                    </figure>
                </a>
            </div>
        {% endfor %}

        <div class="uk-width-small-1-3 uk-width-medium-1-4 uk-width-large-1-6">
            <a href="{% url 'recordings:record' project.slug %}" class="uk-panel s-panel-add">
                <i class="uk-text-contrast uk-icon-plus"></i>
                <div class="text-under-panel-add">New Rehearsal</div>
            </a>
        </div>
    </div>
{% endblock %}


{% block jquery %}
    <script src="{% static 'js/project_view.js' %}"></script>
{% endblock %}
