{% extends "projects/project/project_base.html" %}
{% load static from staticfiles %}{% load i18n %}
{% block title %}{{ recording.slug }}{% endblock %}

{% block p_breadcrumbs %}
    <li class="uk-active"><span>{{ recording.slug }}</span></li>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="recording-view" class="uk-flex uk-flex-center">
        <div class="s-evaluation-player">
            <video class="uk-responsive-width" src="{{ recording.video.url }}" autoplay></video>

            <div class="s-video-controller uk-contrast uk-animation-reverse uk-animation-fade">
                <div class="s-video-controller-background"></div>

                {% if group_list %}
                    <div class="s-request-evaluation s-video-overlay"
                         data-uk-dropdown="{mode:'click', pos:'bottom-right'}">
                        <i class="uk-icon-send uk-icon-hover"></i>

                        <div class="uk-dropdown uk-dropdown-scrollable">
                            <ul class="uk-nav uk-nav-dropdown ">
                                <li class="uk-nav-header">Request Evaluation</li>
                                <li class="uk-nav-divider"></li>

                                {% for group in group_list %}
                                    <li><a data-group="{{ group.slug }}">{{ group.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                <div class="s-evaluation-list uk-flex uk-flex-column">
                    <div class="s-evaluation s-evaluation-add" data-uk-dropdown="{mode:'click', pos:'right-top'}">
                        <i class="uk-icon-plus uk-icon-hover"></i>

                        <div class="uk-dropdown uk-dropdown-scrollable uk-panel uk-panel-header">
                            <div class="uk-panel-title">Evaluate</div>
                            <form class="s-create-evaluation uk-form uk-flex uk-flex-column">
                                <textarea placeholder="Your Evaluation"></textarea>

                                <div class="s-create-evaluation-info">Select type to finish</div>
                                <div class="uk-flex uk-flex-wrap uk-flex-space-around">
                                    {% for evaluation_type in evaluation_type_list %}
                                        <i class="{{ evaluation_type.icon_class }} uk-icon-button"
                                           data-uk-tooltip="{pos:'top'}" title="{{ evaluation_type.name }}"
                                           data-type="{{ evaluation_type.name }}"></i>
                                    {% endfor %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="s-play-pause s-video-overlay uk-icon-hover uk-icon-hover">
                    <i class="uk-icon-play uk-icon-justify"></i>
                    <i class="uk-icon-pause uk-icon-justify"></i>
                </div>

                <div class="s-video-controls">
                    <i class="uk-icon-volume-up uk-icon-hover s-video-volume"></i>

                    <div class="s-video-time">
                        <div class="s-time-played">0:00</div>

                        <div class="s-slider">
                            <div class="s-points"></div>

                            <div class="s-slider-bar">
                                <div class="s-slider-played"></div>
                                <i class="s-slider-position uk-icon-dot-circle-o uk-icon-hover"></i>

                                <div class="s-slider-buffered"></div>
                            </div>
                        </div>
                    </div>

{#                    <i class="uk-icon-expand uk-icon-hover s-video-fullscreen"></i>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block template_scripts %}
    <script>
        var se = {
            user: '{{ user.username }}',
            project: '{{ recording.project.slug }}',
            recording: '{{ recording.slug }}'
        };

        var evaluations = [
            {% for evaluation in evaluation_list %}
                {
                    time: {{ evaluation.seconds }},
                    evaluator: '{{ evaluation.evaluator }}',
                    icon: '{{ evaluation.type.icon_class }}',
                    text: '{{ evaluation.text }}.'
                },
            {% endfor %}
        ];
    </script>
{% endblock %}

{% block jquery %}
    <script src="{% static 'js/recording_view.js' %}"></script>
{% endblock %}
