{% extends "projects/project/project_base.html" %}
{% load static %}{% load i18n %}
{% block title %}{{ recording.slug }}{% endblock %}

{% block p_breadcrumbs %}
    <li class="uk-active"><span>{{ recording.slug }}</span></li>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="recording-view" class="uk-block">
        <div class="s-video">
            {#                    <video src="{{ recording.video.url }}" autoplay></video>#}
            <video class="uk-responsive-width uk-width-1-1"
                   src="http://media.w3.org/2010/05/sintel/trailer.webm"></video>

            <div class="s-video-controller uk-contrast uk-animation-reverse uk-animation-fade">
                <div class="s-video-controller-background"></div>

                {% if group_list %}
                    <div class="s-request-evaluation s-video-overlay uk-icon-hover"
                         data-uk-dropdown="{mode:'click', pos:'bottom-right'}" data-uk-tooltip="{pos:'left'}"
                         title="Request Evaluation">
                        <i class="uk-icon-send"></i>

                        <ul class="uk-nav uk-dropdown uk-dropdown-scrollable">
                            {% for group in group_list %}
                                <li><a data-group="">{{ group.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="s-evaluation-list uk-flex uk-flex-column">
                    <div class="s-evaluation s-evaluation-add" data-uk-dropdown="{mode:'click', pos:'right-top'}">
                        <i class="uk-icon-plus uk-icon-hover"></i>

                        <div class="uk-dropdown uk-dropdown-scrollable uk-panel uk-panel-header">
                            <div class="uk-panel-title">Evaluate</div>
                            <div class="s-create-evaluation uk-flex uk-flex-column">
                                <input type="text" data-uk-tooltip="{pos:'top'}" title="Write Your Evaluation">

                                <div class="s-create-evaluation-info">Select type to finish</div>
                                <div class="uk-flex uk-flex-wrap uk-flex-space-around">
                                    {% for evaluation_type in evaluation_type_list %}
                                        <i class="{{ evaluation_type.icon_class }} uk-icon-button"
                                           data-uk-tooltip="{pos:'bottom'}" title="{{ evaluation_type.name }}"></i>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="s-play-pause s-video-overlay uk-icon-hover uk-icon-hover">
                    <i class="uk-icon-play uk-icon-justify"></i>
                    <i class="uk-icon-pause uk-icon-justify"></i>
                </div>

                <div class="s-video-controls">
                    <i class="uk-icon-volume-up uk-icon-hover s-video-volume"></i>

                    <div class="s-video-time">
                        <div class="s-time-played">0:00</div>

                        <div class="s-slider">
                            <div class="s-points"></div>

                            <div class="s-slider-bar">
                                <div class="s-slider-played"></div>
                                <i class="s-slider-position uk-icon-dot-circle-o uk-icon-hover"></i>

                                <div class="s-slider-buffered"></div>
                            </div>
                        </div>
                    </div>

                    <i class="uk-icon-expand uk-icon-hover s-video-fullscreen"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block template_scripts %}
    <script>
        var currentUser = '{{ user.username }}';

        var evaluations = [
            {% for evaluation in evaluation_list %}
                {
                    time: {{ evaluation.time }},
                    evaluator: '{{ evaluation.evaluator }}',
                    icon: '{{ evaluation.type.icon_class }}',
                    text: '{{ evaluation.text }}.'
                }
            {% endfor %}
        ];
    </script>
{% endblock %}

{% block jquery %}
    <script src="{% static 'js/recording_view.js' %}"></script>
{% endblock %}
