// -----------------------------------------------------------------------------
// This file contains styles that are specific to the dashboard page.
// -----------------------------------------------------------------------------

#dashboard {

    .projects-parent {
        border-right: 1px solid #ECECEC;
        margin-right: 25px;
        padding-right:25px;
        box-sizing: border-box;
    }
      .home-project-flex-box {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 30px 0;
          /* text-transform: uppercase; */
          background-color: #E0E0E0;
          padding: 8px 5px;
          border-radius: 4px;
          max-width: 50%;
          box-sizing: border-box;
          @include card(0);
      }
      .home-group-flex-box {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 30px 0;
          /* text-transform: uppercase; */
          background-color: #E0E0E0;
          padding: 8px 5px;
          border-radius: 4px;
          max-width: 350px;
          box-sizing: border-box;
          @include card(0);
      }


  .home-dashboard-header {
      margin-bottom: 0;
      text-transform: uppercase;
      color: #000;
      font-weight: 200;
      font-size:20px;
      padding-right: 5px;
  }

  a.home-dashboard-button {
    @include card(1);
    background-color: $secondary-brand-color;
    color: #fff;
    font-size: 14px;
    padding: 4px 15px;
    border-radius: 3px;
    margin: 0 6px;

    &:hover, &:active, &:focus {
      text-decoration: none;
      background-color: $secondary-brand-color - $hover;
    }
  }
}
