// -----------------------------------------------------------------------------
// This file contains styles that are specific to the landing page.
// -----------------------------------------------------------------------------

#landing-page {
  p {
    font-size: medium;
    line-height: 2em;
  }

  .uk-navbar-nav li {
    width: 90px;
    a {
      color: $text-light-color;
      background-color: $brand-color-dark;
    }
  }

  #main {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    video {
      position: absolute;
      z-index: -100;

      min-height: 105%;
      min-width: 105%;

      -webkit-filter: blur(5px);
      filter: blur(5px);
      transform: translate3d(-50%, -50%, 0px);
    }

    h1, h2 {
      text-align: center;
      color: #fff;
    }

    h1 {
      margin-bottom: 10px;
      font-size: 36px;
    }

    h2 {
      margin: 0;
      font-size: 20px
    }

    .video-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }

    .browser-compatability {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;;
      align-self: flex-end;
      flex-wrap: wrap;
      padding: 20px;
      width: 220px;
      background-color: rgba(255, 255, 255, 0.60);
      margin-right: 8px;
      position: absolute;
      bottom: 20px;
      left: 16px;
      color: $text-color;

      span {
        margin-top: 12px;
      }

      .uk-icon-chrome {
        padding-right: 12px;
      }

      i {
        font-size: 60px;
      }
    }
  }

  #demo {
    background-color: #0d47a1;
    text-align: center;
    padding: 100px 0 80px 0;
    color: $text-light-color;

    p {
      margin: 60px 0;
    }

    h2 {
      color: $text-light-color;
      padding-bottom: 15px;
      border-bottom: 2px solid $text-light-color;
      max-width: 750px;
      margin: 0 auto 0 auto;
    }
  }

  #points {
    background: #e1f5fe;

    .s-point {
      margin-bottom: 50px;
    }

    img {
      height: 100%;
    }
  }

  #process {
    background-color: $brand-color-dark;
    color: white;

    .uk-grid > * {
      margin-top: 70px;
    }

    .uk-panel {
      @include card(1);
      background-color: $brand-color-dark - $hover;
    }

    .process-header {
      text-align: center;
      width: 400px;
      margin: 0 auto;
      padding-bottom: 15px;
      display: block;
      font-size: 2.3em;
      line-height: 42px;
      border-bottom: 2px solid #fff;
    }

    h2 {
      color: white;
    }
  }

  .action-button {
    width: 240px;
    margin: 0 auto;
    display: block;
    font-size: 1.3em;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    text-align: center;

    @include button(2, $landing-button-color);
  }

  // cody.css
  .uk-navbar {
    height: 50px;
  }

  .s-brand img {
    margin-top: 12px;
    height: 30px;
  }

  .uk-navbar-nav {
    margin-top: 5px;
    margin-right: 10px;
  }

  .uk-navbar-nav li {
    padding-left: 5px;
  }

  .uk-navbar-nav li:first-child {
    padding-left: 0;
  }

  .uk-navbar-nav li a {
    text-align: center;
    border-radius: 3px;
  }
}

@media screen and (max-width: 768px) {
  .s-brand svg {
    height: 79%;
    margin-top: 10px;
  }
}
