{% extends "user_base.html" %}
{% load static %}{% load i18n %}
{% block title %}Projects{% endblock %}

{% block content %}
    <div class="container">

        <h2>projects</h2>

        <div class="list-group">
            {% for project in project_list %}
                <a href="{% url 'speakeazy:projects:projectDetail' project.slug %}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ project.name }}</h4>
                </a>
            {% endfor %}

            <a href="{% url 'speakeazy:newProject' %}" class="list-group-item">
                <h4 class="list-group-item-heading">New Project</h4>
            </a>
        </div>
    </div>
{% endblock content %}
