{% extends "user_base.html" %}
{% load static %}{% load i18n %}
{% block title %}{{ project.name }}{% endblock %}

{% block s_content %}
    <div class="container">

        <h2 class="s-title">Recordings for project {{ project.name }}</h2>

        <div class="s-list">
            {% for recording in recording_list %}
                <a href="{% url 'speakeazy:projects:recordingView' project.slug recording.slug %}" class="s-list-item">
                    <h4 class="s-list-item-heading">{{ recording.slug }}</h4>
                    <video class="s-recording" src="{{ recording.thumbnail_video.url }}"
                           poster="{{ recording.thumbnail_image.url }}" loop></video>
                </a>
            {% endfor %}

            <a href="{% url 'speakeazy:projects:record' project.slug %}" class="s-list-item s-list-add">+</a>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script src="{% static 'js/project_view.js' %}"></script>
{% endblock %}