{% extends "user_base.html" %}
{% load static %}{% load i18n %}
{% block title %}{{ project.name }}{% endblock %}

{% block content %}
    <div class="container">

        <h2>{{ project.name }}</h2>

        <div class="s-list">
            {% for recording in recording_list %}
                <a href="{% url 'speakeazy:projects:recordingView' project.slug recording.slug %}"
                   class="list-group-item">
                    <img src="{{ recording.thumbnail_image.url }}">
                    <video src="{{ recording.thumbnail_video.url }}" autoplay loop></video>
                    <h4 class="list-group-item-heading">{{ recording.slug }}</h4>
                </a>
            {% endfor %}

            <a href="{% url 'speakeazy:projects:record' project.slug %}" class="s-list-item s-list-add">
                <h4 class="list-group-item-heading">New Recording</h4>
            </a>
        </div>
    </div>
{% endblock content %}
