{% extends "user_base.html" %}
{% load static %}{% load i18n %}
{% block title %}{{ project.name }}{% endblock %}

{% block content %}
    <div class="container">

        <h2>{{ project.name }}</h2>

        <div class="list-group">
            {% for recording in project.recording_list %}
                {#                <a href="{% url 'speakeazy:projects:projectDetail' project.slug %}" class="list-group-item">#}
                {#                    <h4 class="list-group-item-heading">{{ project.name }}</h4>#}
                {#                </a>#}
                {{ recording.slug }}
            {% endfor %}

            <a href="{% url 'speakeazy:projects:record' project.slug %}" class="list-group-item">
                <h4 class="list-group-item-heading">New Recording</h4>
            </a>
        </div>
    </div>
{% endblock content %}
