[Unit]
Description=Speakeazy backend server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
WorkingDirectory=/app
ExecStart=/app/devops/files/django/gunicorn.sh
Restart=always
User=django
Group=django

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
