{#{% extends "actions/add.html" %}#}
{##}
{#{% block sub_title %} - Invite Add{% endblock %}#}
{##}
{#{% block post_url %}{% url 'groups:group:invite:add' view.kwargs.group %}{% endblock %}#}
{##}
{##}
{#{% extends "base.html" %}#}
{#{% load static from staticfiles %}{% load i18n %}{% load crispy_forms_tags %}#}
{#{% block subtitle %} - Audience Add{% endblock %}#}
{##}
{#{% block breadcrumbs %}#}
{#    {% include "groups/group/audience/breadcrumb.html" %}#}
{#    <li><span>add</span></li>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <form class="form-horizontal" enctype="multipart/form-data" method="post"#}
{#          action="{% url 'groups:group:audience:add' view.kwargs.group %}">#}
{#        {% csrf_token %}#}
{#        {{ form|crispy }}#}
{#        <button type="submit" class="btn">Add</button>#}
{#    </form>#}
{#{% endblock %}#}
