{% extends "base.html" %}
{% load static from staticfiles %}{% load i18n %}{% load crispy_forms_tags %}
{% block title %} - Audience Delete{% endblock %}

{% block breadcrumbs %}
    {% include "groups/group/audience/breadcrumb.html" %}
    <li><span>delete</span></li>
    <li><span>{{ audience.slug }}</span></li>
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post"
          action="{% url 'groups:group:audience:delete' view.group.slug audience.slug %}">
        {% csrf_token %}
        <button type="submit" class="btn">Delete</button>
    </form>
{% endblock %}
