{% extends "base.html" %}
{% load static %}{% load i18n %}{% load crispy_forms_tags %}
{% block title %} - Audience Update{% endblock %}

{% block breadcrumbs %}
    {% include "groups/group/audience/breadcrumb.html" %}
    <li><span>update</span></li>
    <li><span>{{ audience.slug }}</span></li>
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post"
          action="{% url 'groups:group:audience:update' audience.group.slug audience.slug %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn">Update</button>
    </form>
{% endblock %}
