// flip recordings on the y axis to mirror the user
.uk-navbar-brand::before {
  display: none;
}

.s-brand {
  padding-top: 5px;
  padding-bottom: 5px;

  svg {
    height: 91%;
    margin-top: 3px;
  }
}
