.uk-button:not(.uk-button-primary, .uk-button-success, .uk-button-danger) {
  transition: all .3s ease, background .2s ease;
  background-color: #ccc;
  @include card(1);

  @include on-event {
    background-color: #bdbdbd;
    @include card(2);
  }
}
