// This page is for styling forms

// signup form styles
.s-form {
  width: 300px;
  margin: 0 auto;

  input {
    padding: .5em .6em;
    border: 1px solid #ccc;
    vertical-align: middle;
    width: 300px;

    &:focus {
      outline: 0;
      border-color: #129FEA;
    }
  }
}

.s-form-field {
  margin: 0;
}

.s-form-submit {
  @include card(1);
  background-color: $secondary-brand-color;
  width: 300px;
  border: none;
  color: #fff;
  margin-top: 6px;

  @include button-color($secondary-brand-color);
}
