.uk-notify-message-debug {
  background: #90a4ae;
  color: $text-color
}

.uk-notify-message-info {
  background: #64b5f6;
  color: $text-color
}

.uk-notify-message-success {
  background: #8bc34a;
  color: $text-color
}

.uk-notify-message-warning {
  background: #ffb74d;
  color: $text-color
}

.uk-notify-message-error {
  background: #e57373;
  color: $text-color
}