[class*="uk-width"] > .uk-panel {
  width: 100%;
  height: 100%;
}

.s-panel-add {
  display: flex;
  justify-content: center;
  align-items: center;

  background: $dark-grey;

  //min-height: 120px;

  i {
    margin-bottom: -2px !important;
    padding: 50px 0;
    font-size: 22px;
  }
}
