[class*="uk-width"] > .uk-panel {
  width: 100%;
  height: 100%;
}

#project-list {
  align-items: center;
  margin-top: 60px;
}

.panel-card {
  &:not(.panel-add) {
    @include card(1);
  }

  border-radius: 3px;

  &:only-of-type(a) {
    &:hover, &:active, &:focus {
        background-color: #F5F5F5 - $hover;
    }
  }
}

.panel-add {
  @extend .panel-card;

  @include card(2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $secondary-brand-color;

  padding: 0;

  .add-text {
    color: #fff;
    padding-bottom: 10px;
  }

  &:hover, &:active, &:focus {
    text-decoration: none;
    background-color: $secondary-brand-color - $hover;
  }

  //min-height: 120px;

  i {
    margin-bottom: -2px !important;
    padding: 40px 0 17px 0;
    font-size: 45px;
  }
}

.uk-panel-header .uk-panel-title {
  font-size: 16px;
  border-bottom: 1px solid $brand-color-dark;
}

.project-info, .item-info {
  font-style: italic;
}
