@media (max-width: map-get($breakpoint-sizes, 'medium')) {
  .s-video-overlay {
    display: none;
  }
}

.s-video-overlay {
  background-color: $dark-grey;
  //opacity: 0.7;
  position: absolute;
  padding: 15px;

  &.s-active {
    background: $video-control-active;
  }
}
