@media (max-width: map-get($breakpoint-sizes, 'medium')) {
  .s-video-overlay {
    display: none;
  }
}

.s-video-overlay {
  background-color: $video-overlay-background;
  //opacity: 0.7;
  position: absolute;
  color: $video-overlay-color;
  border-radius: 2px;
  @include card(1);

  &.s-video-time {
    padding: $video-overlay-padding;
  }

  &.s-video-time {
    padding: $video-overlay-padding;
  }

  &.s-active {
    background: $video-control-active;
  }
}

// because I couldn't get a video to upload I had to make most of these edits from the live site with the element inspector in my browser. Please double check this. My goal was to have the text Share next to the paper airplane.
.video-player-send {
  display: flex;
  align-items: center;
  span {
    margin-left: 6px;
    font-family: $text-font-stack;
  }
}
