.s-video-controls {
  position: absolute;

  display: flex;
  align-content: space-between;

  i {
    cursor: pointer;
  }

  & > * {
    @extend .s-video-overlay;
    display: initial;
    position: static;

    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .s-video-time {
    display: flex;

    flex-grow: 1;

    .s-time-played {
      font-size: 12px;
      line-height: 1em;

      margin-right: 15px;
    }

    .s-slider {
      width: 100%;
      height: 100%;

      .s-points {
        background-color: red;

        position: absolute;
        top: 0;
        height: 10px;

        & > * {
          position: absolute;
          top: -6px;
          left: 0;
        }
      }

      .s-slider-bar {
        background-color: $very-dark-grey;
        border-radius: 4px;
        overflow: hidden;

        position: relative;
        width: 100%;
        height: $video-slider-height;
        top: 2px;

        display: flex;

        cursor: pointer;

        .s-slider-played {
          background: $video-slider-primary-color;
          height: 100%;
        }

        .s-slider-buffered {
          background: $mid-grey;
          height: 100%;
        }

        .s-slider-position {
          position: relative;
          top: -2px;
          right: 6px;
          width: 0;
        }
      }
    }
  }
}
