{% extends "base.html" %}
{% load static from staticfiles %}{% load i18n %}{% load floppyforms %}
{% block title %} - Delete User{% endblock %}

{% block breadcrumbs %}
  {% include "groups/group/user/breadcrumb.html" %}
  <li><span>delete</span></li>
  <li><span>{{ membership.user.username }}</span></li>
{% endblock %}

{% block content %}
  <form class="uk-form uk-form-stacked" method="post"
        action="{% url 'groups:group:user:delete' membership.group.slug membership.user.pk %}">
    {% csrf_token %}

    <div class="uk-form-row">
      <button type="submit" class="uk-button">Delete</button>
    </div>
  </form>
{% endblock %}
