{% extends "base.html" %}
{% load static from staticfiles %}{% load i18n %}
{% block title %} - User List{% endblock %}


{% block breadcrumbs %}
  {% include "groups/group/user/breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="s-section">

      <h4 class="s-section-title">User List</h4>

      <div class="s-list s-section-content">
        {% for membership in membership_list %}
          <a href="{% url 'groups:group:user:view' membership.group.slug membership.user.pk %}"
             class="s-list-item">
            <h4 class="s-list-item-heading">{{ membership.user.username }}</h4>

            <div>{{ membership.user.email }}</div>
            {# membership stats #}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
