{% extends "base.html" %}
{% load static from staticfiles %}{% load i18n %}{% load floppyforms %}
{% block title %} - User Update{% endblock %}

{% block breadcrumbs %}
    {% include "groups/group/user/breadcrumb.html" %}
    <li><span>update</span></li>
    <li><span>{{ membership.user.username }}</span></li>
{% endblock %}

{% block content %}
    <form class="uk-form uk-form-stacked" enctype="multipart/form-data" method="post"
          action="{% url 'groups:group:user:update' membership.group.slug membership.user.pk %}">
        {% csrf_token %}

        {% form form %}

        <div class="uk-form-row">
            <button type="submit" class="uk-button">Update</button>
        </div>
    </form>
{% endblock %}
