{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Projects{% endblock %}

{% block content %}
    {% csrf_token %}

    <div id="headingDiv">
        <h1 class="text-center">Practice <span class="glyphicon glyphicon-question-sign"
                                               data-tooltip-placement="bottom"
                                               data-tooltip="Make sure you’re in the frame. Decide where you will be standing when speaking to the audience in the next step and when speaking from that distance the audio marker is well in the green."></span>
        </h1>
    </div>


    <div id="dashboardBody">
        <div class="recording-page">
            <!-- preview -->
            <div class="preview container" id="preview">
                <button class="btn btn-primary text-center" id="start-recording">
                    Start Recording
                </button>

                <div class="row-fluid">
                    <div class="col-md-4 text-center col-md-offset-4">
                        <video class="setup-video-new s-preview" id="setup-video" width="400" height="300"></video>
                    </div>

                    <div class="col-md-2 col-md-offset-1 volume">
                        <span class="glyphicon glyphicon-volume-up"></span>

                        <div class="background">
                            <span class="glyphicon glyphicon-menu-down slider" data-ng-style="vm.slider"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Recording -->
            <div id="recording">
                <button class="btn btn-primary text-center" id="stop-recording">
                    stop
                </button>

                <video id="audience-video" class="embed-responsive-item" src="{{ project.audience.file.url }}"
                       preload></video>

                <!--<timer></timer>-->
            </div>

            <!-- uploading -->
            <div class="upload-progress" id="finished">
                <h1 class="text-center">Uploading</h1>

                <progressbar value="vm.progress" class="progress-striped active">{{ vm.progress }}%</progressbar>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js_libraries %}
    <script src="{% static 'js/vendor/MediaStreamRecorder.min.js' %}"></script>
{% endblock %}

{% block jquery %}
    <script src="{% static 'js/record.js' %}"></script>
{% endblock %}
