{% extends "base.html" %}
{% load static from staticfiles %}{% load i18n %}
{% block title %} - {{ group.name }}{% endblock %}


{% block breadcrumbs %}
  {% include "groups/breadcrumb.html" %}
  <li><span>g</span></li>
  <li class="uk-active"><span>{{ group.slug }}</span></li>
{% endblock %}


{% block content %}
  <div class="uk-block">
    <h1>{{ group.name }} Dashboard</h1>

    {% if group.logo %}
      <img src="{{ group.logo.url }}">
    {% endif %}

    {% if 'list_submission' in view.permissions %}
      <h2><a href={% url 'groups:group:submission:list' group.slug %}></a>Submissions</h2>

      <div class="uk-flex uk-grid">
        {% for submission in submission_list %}
          <div class="uk-width-small-1-3 uk-width-medium-1-4 uk-width-large-1-6">
            <a href="{% url 'recordings:recording:view' 'grader' submission.pk %}"
               class="uk-panel uk-panel-box panel-card uk-panel-header">

              <h3 class="uk-panel-title">{{ submission.created_time }}</h3>

              <div class="item-info">
                <div>By: {{ submission.recording.project.user.username }}</div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}


    {% if 'add_invite' in view.permissions or 'list_invite' in view.permissions %}
      <h2><a href={% url 'groups:group:invite:list' group.slug %}>Invites</a></h2>

      {% if 'add_invite' in view.permissions %}
        <a href="{% url 'groups:group:invite:add' group.slug %}">Create Invite</a>
      {% endif %}

      {% if 'list_invite' in view.permissions %}
        <div class="uk-flex uk-grid">
          {% for invite in invite_list %}
            <div class="uk-width-small-1-3 uk-width-medium-1-4 uk-width-large-1-6">
              <a href="{% url 'groups:group:invite:view' group.slug invite.slug %}"
                 class="uk-panel uk-panel-box panel-card uk-panel-header">

                <h3 class="uk-panel-title">{{ invite.name }}</h3>

                <div class="item-info">
                  <div>Created: {{ invite.created_time }}</div>
                  {% if invite.uses %}
                    <div>Uses left: {{ invite.uses }}</div>{% endif %}
                  {% if invite.expires %}
                    <div>Expires: {{ invite.expires }}</div>{% endif %}
                  <div>Token: {{ invite.token }}</div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}


    {% if 'list_user' in view.permissions %}
      <h2><a href={% url 'groups:group:user:list' group.slug %}></a>Users</h2>
      <div class="uk-flex uk-grid">
        {% for membership in user_list %}
          <div class="uk-width-small-1-3 uk-width-medium-1-4 uk-width-large-1-6">
            <a {#href="{% url 'groups:group:user:view' group.slug membership.user.email %}"#}
                class="uk-panel uk-panel-box panel-card uk-panel-header">

              <h3 class="uk-panel-title">{{ membership.user.username }}</h3>

              <div class="item-info">
                <div>Added: {{ membership.created_time }}</div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}

  </div>

{% endblock %}
