{% extends "base.html" %}
{% load static from staticfiles %}{% load i18n %}{% load floppyforms %}
{% block title %}Update {% block sub_title %}{% endblock %}{% endblock %}

{% block content %}
    <form class="uk-form uk-form-stacked" enctype="multipart/form-data" method="post"
          action="{% block post_url %}{% endblock %}">
        {% csrf_token %}

        {% form form %}

        <div class="uk-form-row">
            <button type="submit" class="uk-button">Update</button>
        </div>
    </form>
{% endblock %}
